<% content_for :title, "Bits" %>

<div class="grid-content small-6 small-offset-3">

  <h3>Bits</h3>

  <div class="">
    <% @bits.each do |b| %>
      <%= b.data %>
    <% end %>
  </div>

  <h3>Bits (Black and White)</h3>

  <div class="">
    <% @bits.each do |b| %>
      <%= bit_to_block(b.data) %>
    <% end %>
  </div>

  <h3>Bytes (8-bit grayscale)</h3>

  <div class="">
    <% bits_to_gray( @bits ).each do |shade| %>
      <%= shade %>
    <% end %>
  </div>

  <h3>Bytes (8-bit color)</h3>

  <div class="">
    <% bits_to_color8( @bits ).each do |shade| %>
      <%= shade %>
    <% end %>
  </div>

  <h3>Bytes (24-bit color)</h3>

  <div class="">
    <% bits_to_color24( @bits ).each do |shade| %>
      <%= shade %>
    <% end %>
  </div>

</div>
