<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %> | Bitter</title>

    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="grid-frame">

    <div class="top-bar">
      <div class="top-bar-left">
        <h2>Bitter</h2>
      </div>
      <div class="top-bar-right">
        <p>Make Social Media Great Again</p>
      </div>
    </div>

    <%= render partial: "shared/flash" %>

    <div class="grid-block">
      <%= yield %>
    </div>

  </body>
</html>
