<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% flash.each do |key, message| %>
      <% if key == 'notice' %>
        <% flash_type = 'success' %>
      <% else %>
        <% flash_type = key %>
      <% end %>

      <div class="card <%= flash_type %>">
        <div class="card-section">
          <%= message %>
        </div>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
